<style>
.wscTxt {
    top: 100px;
    color: #34beed;
    font-size: 40px;
    font-weight: bold;
}                                             
.vc {
 {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index:-10;                               
}
.wiiware {
{
    top: 0px;
    left: 0px;
    position: fixed;
    z-index:-10;
}
.wiichannels {
{
    top: 0px;
    left: 0px;
    position: fixed;
    z-index:-10;
}
</style>
<p class="wscTxt">Rii Shop Channel</p>

<img class="vc" src="{{ url_for('static', filename='img/banner/top_buy_vc_a.png') }}"></img>
<img class="wiiware" src="{{ url_for('static', filename='img/banner/top_buy_wiiware_a.png') }}"></img>
<img class="wiichannels" src="{{ url_for('static', filename='img/banner/top_buy_wiichannel_a.png') }}"></img>








